from collections import *

bot_name = "<your bot name>"
cmd_prefix = "!"
nr_worker_threads = 10

connections = defaultdict(lambda: namedtuple("Params", []))
connections["Freenode"].host = "irc.freenode.net"
connections["Freenode"].port = 7000
connections["Freenode"].use_ssl = True
connections["Freenode"].password = None
connections["Freenode"].bot_password = "<your nickserv password for your bot here>"
connections["Freenode"].channels = [ "#happy-security" ]
connections["Freenode"].ops = [ ("host", "unaffiliated/tehron") ]

connections["WeChall IRC"].host = "irc.wechall.net"
connections["WeChall IRC"].port = 6697
connections["WeChall IRC"].use_ssl = True
connections["WeChall IRC"].password = None
connections["WeChall IRC"].bot_password = None
connections["WeChall IRC"].channels = [ "#wechall", "#revolutionelite", "#shadowlamb" ]
connections["WeChall IRC"].ops = [ ("nickserv", "tehron"), ("nickserv", "gizmore") ]

connections["Macak"].host = "irc.macak.co.uk"
connections["Macak"].port = 6697
connections["Macak"].use_ssl = True
connections["Macak"].password = None
connections["Macak"].bot_password = None
connections["Macak"].channels = [ "#hackthis" ]
connections["Macak"].ops = [ ("nickserv", "tehron") ]

plugins = defaultdict(lambda: namedtuple("Params", []))
plugins["WeChallActivityPoller"].timeout = 10
plugins["WeChallActivityPoller"].where = [ ("WeChall IRC", [ "#wechall" ]) ]

plugins["WeChallStatsAnnouncer"].at = 20 * 60 * 60
plugins["WeChallStatsAnnouncer"].where = [ ("WeChall IRC", [ "#wechall" ]) ]

plugins["WeChallSitesPoller"].timeout = 10
plugins["WeChallSitesPoller"].where = [ ("WeChall IRC", [ "#wechall" ]) ]

plugins["GreetingHandler"].where = [ ("Macak", [ "#hackthis" ]) ]
plugins["GreetingHandler"].no_greet = [ "wence", "jayssj11" ]

tmdb_api_key = "<your api key here>"

wolframalpha_app_id = "<your api key here>"

youtube_api_key = "<your api key here>"
youtube_referer = "<your referer here>"
cse_api_key = youtube_api_key
cse_referer = youtube_referer
cse_string = "<your cse_string here>"

hackthis_api_key = "<your api key here>"
wixxerd_api_key = "<your api key here>"
